*{
    margin:0;
    padding:0;
}

body{
	background-color: rgb(28, 26, 26);
    font-family: arial,helvetica,clean,sans-serif;
    color:#EEE;
    font-size: 20px;
    padding-left:calc(50vw - 640px);

}

main h1{
    font-size:46px;
    font-weight: 500;
}
main h2{
    font-size:24px;
    font-weight: 300;
}
main h3{
    font-size:16px;
    font-weight:500;
}
main h4{
    font-size:16px;
    font-weight:300;
}
main h1,main h2{
    margin-bottom: 20px;
}
main h4{
    margin-bottom: 20px;
}
main article p{
    font-size: 20px;
    margin-bottom:20px;
    font-weight: 300;

}
section{
    background-color: rgb(14, 12, 12);
    width:1280px;
    height:3000px;
}
header{
    height:80px;
    border-bottom: 1px solid #444 ;
}

header section{
    background-color: rgb(22, 20, 20);
    height:60px;
}
header img{
    height:100%;
    float:left;
}
header a{
    line-height: 60px;
    margin-left:16px;
}
header nav{
    float:left;
}
main{
    padding:40px;
    float:left;
    width:810px;
}
main figure{
    margin-bottom:20px;
}
main figure img{
    width:100%;
}
aside{
    padding:120px 40px 40px 0;
    float:right;
    width:340px;
}
aside h1{
    font-size:24px;
    height:24px;
    margin-bottom:20px;
    font-weight: 500;
}
aside h1 img{
    height:100%;
    margin-right:10px;
}
aside figure img{
    width:100%;
}
aside figure figcaption{
    font-size:18px;
    font-weight: 500;
    margin-top:5px;
    margin-bottom:20px;
}